/* 
  Mobile Web Responsive Web Design

*/
@media screen and (min-width: 760px) {
  /* body{background: orange;} */
  [class*="col-"] {
    float: left;
    margin: 10px 0px;
  }
  div.row::after {
    clear: both;
    content: "";
    display: block;
  }
  [class*="col-1"] {
    width: 8.33%;
  }
  [class*="col-2"] {
    width: 16.66%;
  }
  [class*="col-3"] {
    width: 25%;
  }
  [class*="col-4"] {
    width: 33.33%;
  }
  [class*="col-5"] {
    width: 41.65%;
  }
  [class*="col-6"] {
    width: 49.98%;
  }
  [class*="col-7"] {
    width: 58.31%;
  }
  [class*="col-8"] {
    width: 66.64%;
  }
  [class*="col-9"] {
    width: 74.97%;
  }
  [class*="col-10"] {
    width: 83.33%;
  }
  [class*="col-11"] {
    width: 91.63%;
  }
  [class*="col-12"] {
    width: 100%;
  }
}
